// Custom palette (http://mcg.mbitson.com)
$blueTeal: (
   50: #ebf1f0,
   100: #e5eeea,
   200: #d3e3dc,
   300: #c1d7ce,
   400: #b7d3c8,
   500: #a7c6b9,
   600: #9fc0b2,
   700: #96b9aa,
   800: #8cb1a2,
   900: #7ca493,
   A100: #ffffff,
   A200: #f8fffc,
   A400: #c5ffe6,
   A700: #acffdb,
   contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
   ),
);

$orangeTiger: (
   50: #fdf1e2,
   100: #f9dbb7,
   200: #f5c487,
   300: #f1ac56,
   400: #ee9a32,
   500: #eb880e,
   600: #e9800c,
   700: #e5750a,
   800: #e26b08,
   900: #dd5804,
   A100: #ffffff,
   A200: #ffe0d1,
   A400: #ffbe9e,
   A700: #ffad85,
   contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
   ),
);

$blueOpaque2:(
    50 : #ebedf7,
    100 : #ced3ec,
    200 : #aeb5e0,
    300 : #8d97d3,
    400 : #7481c9,
    500 : #5c6bc0,
    600 : #5463ba,
    700 : #4a58b2,
    800 : #414eaa,
   //  900 : #303c9c,
   //  900 : #003c8f,
    900 : #003c8f,
    A100 : #e3e6ff,
    A200 : #b0b8ff,
    A400 : #7d8aff,
    A700 : #6373ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    ),
);

$blueOpaque:(
   50 : #e9eef2,
   100 : #c8d5df,
   200 : #a3b9ca,
   300 : #7e9cb5,
   400 : #6387a5,
   500 : #477295,
   600 : #406a8d,
   700 : #375f82,
   800 : #2f5578,
   900 : #204267,
   A100 : #a7cfff,
   A200 : #74b3ff,
   A400 : #4197ff,
   A700 : #278aff,
   contrast: (
       50 : #000000,
       100 : #000000,
       200 : #000000,
       300 : #ffffff,
       400 : #ffffff,
       500 : #ffffff,
       600 : #ffffff,
       700 : #ffffff,
       800 : #ffffff,
       900 : #ffffff,
       A100 : #000000,
       A200 : #000000,
       A400 : #000000,
       A700 : #ffffff,
   )
);

$violet: (
    50 : #f3eef9,
    100 : #c7bbe0,
    200 : #a28ecc,
    300 : #7c61b8,
    400 : #603fa8,
    500 : #441d99,
    600 : #3e1a91,
    700 : #351586,
    800 : #2d117c,
    900 : #1b0c3d,
    A100 : #ad9cff,
    A200 : #8369ff,
    A400 : #5936ff,
    A700 : #431dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$turquoise: (
    50 : #ebf9f9,
    100 : #cef0f0,
    200 : #aee6e6,
    300 : #8ddbdb,
    400 : #74d4d4,
    500 : #5ccccc,
    600 : #54c7c7,
    700 : #4ac0c0,
    800 : #41b9b9,
    900 : #30adad,
    A100 : #f3ffff,
    A200 : #c0ffff,
    A400 : #8dffff,
    A700 : #74ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);